<textarea class="hide dispaly_brand_data">
  <% brands.uniq.each do |brand| %>
    <%= [brand.name,Report.brand_display(reports,brand.id)].join("|") %>
    <%= "~" unless brand == brands.last %>
  <% end -%>
</textarea>
<textarea class="hide sale_brand_data">
  <% brands.uniq.each do |brand| %>
    <%= [brand.name,Report.brand_sales(reports,brand.id)].join("|") %>
    <%= "~" unless brand == brands.last %>
  <% end -%>
</textarea>

<div id='brand_data_chart' class="jFax-chart"></div>

<script type="text/javascript">
  $(document).ready(function(){
    loadBrandChart();  
  });
</script>