<% @uploads.each do |image| %>
  <div class="col-sm-4 gallery-image">
    <% if image.class.to_s == "Upload"%>
      <%= link_to raw(image_tag image.upload.url(:small)), image_path(image, :type => "upload", :class => "shops") %>
    <% else %>
      <%= link_to raw(image_tag img.avatar.url(:small)), image_path(image, :type => "avatar", :class => "shops") %>
    <% end %>
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function(){
    $('.upload_images_paginator .pagination').html("<%= j paginate @uploads, :params => { :host => request.host, :port => request.port, :controller => 'shops', :action => 'load_more_uploads', :method => :get } %>");
  });
</script>