<% @limited_shops.each do |shop| %>
  <tr>
    <td><%= shop_link_with_name(shop) %></td>
    <td><%= orient_dealer(shop) %></td>
    <td><%= shop_edit_link(shop)  %> <%= shop_delete_link(shop) %></td>
  </tr>
<% end %>