<div class="span3 pull-right">
  <%= form_tag '/search', :method=> :get, :class => "search-form" do %>
    <div class="search-pane">
      <%= text_field_tag :search, params[:search], :placeholder => "Search here..." %>
      <button type="submit"><i class="icon-search"></i></button>
    </div>
  <%end%>
</div>