<% @notifications.each do |notification|%>
  <div class="alert  alert-info alert-alt my-notification notification" data-notification="<%= notification.id %>">
    <small><%= notification.created_at.strftime("%B, %d")%></small><br>
    <i class="fa fa-arrow-up fa-fw"></i><%= notification.owner.name %>  <%= render_activity notification %>
  </div> 
<% end %>