<% @subscriber_activities .each do |activity| %>
	<li class="media subscribe-activity">
		<a href="page_ready_user_profile.html" class="pull-left">
        <%= image_tag(User.find(activity.owner.id).avatar.avatar(:thumb), :class => "img-circle") %>
    </a>
    <div class="media-body">
      <p class="push-bit">
        <span class="text-muted pull-right">
          <small><%= activity.created_at.strftime("%B, %d")%></small>
          <span class="text-danger" data-toggle="tooltip" title="From Web"><i class="fa fa-globe"></i></span>
        </span>
        <strong><%=link_to activity.owner.name, activities_path(:user_id => activity.owner.id) if activity.owner %> <%= render_activity activity %> </strong>
      </p>
    </div>    
	</li>	
<% end %>