<div class="row">
	<div class="col-md-12">
		<div class="block">
		  <div class="block-title">
		  	<div class="pull-right btn-group btn-group-xs"><%= link_to raw("<i class='gi gi-step_backward'></i>"),areas_path,:class => 'btn btn-default btn-new text-center ',"data-toggle" => "tooltip", :title=> "Back"  %>
		  	</div>	
		   	<h2><strong>Edit Area </strong></h2>
		  </div>  
		  <%= render :partial => 'form' %>
		</div>
	</div>		
</div>	