<% @corner_category_report_lines.each do |category,cat_report| %>
  <% unless cat_report.collect(&:avatars).flatten.blank? %>
    <div class="row">
      <span class="col-md-12 brand-name"><%= get_productcategory_name(category) %></span>
    </div>
  <% end %>
  <div class="row">
    <% cat_report.each do |line| %>
      <% line.avatars.each do |upload| %>
        <div class="col-sm-4 gallery-image">
          <% if upload.avatar %>
            <%= link_to raw(image_tag upload.avatar.url(:small)), image_path(upload, :type => "avatar", :class => "dealers") %>
          <% else %>
            <%= image_tag "/assets/default.png"%>
          <% end%>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function(){
    $('.category_corner_report_paginator .pagination').html("<%= j paginate @corner_reports, :params => {:host => request.host, :port => request.port, :controller => 'dealers', :action => 'load_more_category_corner_report_lines', :method => :get } %>");
  });
</script>