<div class="row">
	<div class="col-md-12">
		<div class="block">
		  <div class="block-title">
		   	<h2><strong>New Dealer </strong></h2>
		  </div>  
		  <%= render :partial => 'form' %>
		</div>
	</div>		
</div>	