dt{
  width: 50%;
  float: left;
  margin: 0;
}
dd{
  width: 50%;
  display: inline-block;
  margin: 0;
}
.left-margin{
  margin-left: 10px;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999;
}

.tt-dropdown-menu {
  width: 300px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  font-size: 18px;
  line-height: 24px;
  padding: 8px 20px;
}

.tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

.gist {
  font-size: 14px;
}

.clear{
  clear:both;
}

#error_explanation {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}
#error_explanation h2{
  padding: 0 10px;
  font-size: 14px !important;
  line-height: 18px;
  font-weight: bold;
  color: #b94a48;
}
.tiles>li.image:hover:before{height:190px;width:185px;}
#left{
  width:195px !important;
}
.demo-placeholder {
  width: 100%;
  height: 100%;
  font-size: 14px;
  line-height: 1.2em;
}
.no-padding{
  padding: 0 !important;
}

.check-me{
  float: left !important;
}

.paginate
{
  float: right;
}
.searched_result
{
  clear: both;
  height: 180px;
}

.shop_avatar
{
  float: left;
  width: 300px;
}

.shop_detail
{
  margin: 10px;
  width: auto;
}

.taskview1 {
  float: left;
  padding: 50px;
}

.text_area
{
  width: 331px;
  height: 38px;
}

.task_comment
{
  width: auto;
  margin-right: 8px;
}
.box-content{
  max-height: 500px !important;
  overflow: hidden;
}


.formErrors h5{
  
  background-color: rgb(229, 20, 0);
  border-left-color: rgb(229, 20, 0);
  border-left-style: solid;
  border-left-width: 2px;
  border-right-color: rgb(229, 20, 0);
  border-right-style: solid;
  border-right-width: 2px;
  border-top-color: rgb(229, 20, 0);
  border-top-style: solid;
  border-top-width: 2px;
  color: #fff;
  height: 30px;
  margin:0;
  padding-bottom: 7px;
  padding-left: 40px;
  padding-top: 7px;
  font-size: 22px;
  width: 600px;
}
.formErrors ul{

  border-bottom-color: rgb(229, 20, 0);
  border-bottom-style: solid;
  border-left-color: rgb(229, 20, 0);
  border-left-style: solid;
  border-left-width: 2px;
  border-right-color: rgb(229, 20, 0);
  border-right-style: solid;
  border-right-width: 2px;
  
  padding-bottom: 20px;
  padding-left: 40px;
  padding-top: 20px;
  margin: 0;
  color: #b94a48;
  width: 600px;
}

.typeahead {
  background-color: white !important;
}

#fileupload input[type="file"]
{
  padding-left: 75px !important;
  width: 200px !important;
}

.task
{

}

span input
{
  float: right !important;
  padding-top:  15px;
}

.search-word
{
  background-color: yellow;
}

.users
{
  position: relative !important;
  z-index: 1500 !important;
  left: 12px;
  top: 5px; 
}
.shop-category
{
  position: relative !important;
  z-index: 1500 !important;
  top: 5px; 
}

.map-ui
{
  position: absolute;
  z-index:1;
  left: 30%;
  top: 218px; 
  padding-bottom: 0px !important;
  box-shadow: 0px 2px 4px #999;
  text-decoration: none;
  background: #fff;
  width: 15%;
}

.map-ui form input
{
  margin-right: 10px;
  margin-left: 10px;
}

.result
{
  height: 85px !important; 
  width: 180px !important;
  line-height:1.35 !important;
  overflow:hidden !important;
  white-space:nowrap !important;
}


#map_location .gm-style > .gmnoprint > .gmnoprint div[title="Zoom in"] {
  top: 2px !important;
  left: 4px !important;
  width: 56px !important; 
  height: 21px !important;
}

#map_location .gm-style > .gmnoprint > .gmnoprint div[title="Zoom in"] img{
  position: absolute;
  left: -38px !important;
  top: -400px;
  width: 60px;
  height: 492px;
  -webkit-user-select: none;
  border: 0px;
  padding: 0px;
  margin: 0px;
}
#map_location .gm-style > .gmnoprint > .gmnoprint div[title="Click to zoom"]
{
  width: 57px !important;
}
#map_location .gm-style > .gmnoprint > .gmnoprint div[title="Drag to zoom"]
{
  width: 66px !important;
}
#map_location .gm-style > .gmnoprint > .gmnoprint div[title="Zoom out"]
{
  width: 68px !important;
}


.heading {
  margin-left: 0px;
  border-bottom: 1px dotted gray;
  padding-left: 10px;
}


.nomargin
{
  margin: 0px !important;
}

.shop-name-field
{
  z-index: 0 !important;
}

.timeline {
  margin-left: 30px !important;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.timeline > li .timeline-content {
  position: relative;
  z-index: 99;
}

.timeline > li .timeline-content .left {
  position: relative;
}
.fa-picture-o img{
  width: 44px !important; 
}
.timeline > li .timeline-content .activity {
  margin-left: 50px;
}
.timeline > li .timeline-content .activity .user {
  font-size: 14px;
  margin-bottom: 10px;
}
.timeline > li .line {
  width: 4px;
  background: #eee;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
}