<div id="navigation">
  <div class="container-fluid">
    <a href="#" id="brand">ORIENT</a>
    <ul class='main-nav'>
      <li>
        <a href="/reports">
          <span>Dashboard</span>
        </a>
      </li>
      <li>
        <a href="#" data-toggle="dropdown" class='dropdown-toggle'>
          <span>View All</span>
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <% if can? :read, Dealer %>
            <li>
              <a href="/dealers">Dealers</a>
            </li>
          <% end -%>
          <% if can? :read, Shop %>
            <li>
              <a href="/shops">Shops</a>
            </li>
          <% end -%>
          <% if can? :read, ShopCategory %>
            <li>
              <a href="/shop_categories">Shop Category</a>
            </li>
          <% end -%>
          <% if can? :read, City %>
            <li>
              <a href="/citites">City</a>
            </li>
          <% end -%>
          <% if can? :read, ProductCategory %>
            <li>
              <a href="/product_categories">Porduct Category</a>
            </li>
          <% end -%>
          <% if can? :read, Product %>
            <li>
              <a href="/products">Product</a>
            </li>
          <% end -%>
          <% if can? :read, Brand %>
            <li>
              <a href="/brands">Brand</a>
            </li>
          <% end -%>
          <% if can? :read, Role %>
            <li>
              <a href="/roles">Role</a>
            </li>
          <% end -%>
        </ul>
      </li>
      <li>
        <a href="#" data-toggle="dropdown" class='dropdown-toggle'>
          <span>Add</span>
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <% if can? :create, Dealer %>
            <li>
              <a href="/dealers/new">Dealers</a>
            </li>
          <% end -%>
          <% if can? :create, Shop %>
            <li>
              <a href="/shops/new">Shops</a>
            </li>
          <% end -%>
          <% if can? :create, ShopCategory %>
            <li>
              <a href="/shop_categories/new">Shop Category</a>
            </li>
          <% end -%>
          <% if can? :create, City %>
            <li>
              <a href="/citites/new">City</a>
            </li>
          <% end -%>
          <% if can? :create, ProductCategory %>
            <li>
              <a href="/product_categories/new">Porduct Category</a>
            </li>
          <% end -%>
          <% if can? :create, Product %>
            <li>
              <a href="/products/new">Product</a>
            </li>
          <% end -%>
          <% if can? :create, Brand %>
            <li>
              <a href="/brands/new">Brand</a>
            </li>
          <% end -%>
          <% if can? :create, Role %>
            <li>
              <a href="/roles/new">Role</a>
            </li>
          <% end -%>
        </ul>
      </li>
    </ul>
    <div class="user">
      <ul class="icon-nav">
        <li class='dropdown'>
          <ul class="dropdown-menu pull-right message-ul">
            <li>
              <a href="#">
                <img src="/assets/demo/user-1.jpg" alt="">
                <div class="details">
                  <div class="name">Jane Doe</div>
                  <div class="message">
                    Lorem ipsum Commodo quis nisi ...
                  </div>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <img src="/assets/demo/user-2.jpg" alt="">
                <div class="details">
                  <div class="name">John Doedoe</div>
                  <div class="message">
                    Ut ad laboris est anim ut ...
                  </div>
                </div>
                <div class="count">
                  <i class="icon-comment"></i>
                  <span>3</span>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <img src="/assets/demo/user-3.jpg" alt="">
                <div class="details">
                  <div class="name">Bob Doe</div>
                  <div class="message">
                    Excepteur Duis magna dolor!
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </li>
      </ul>
      <div class="dropdown">
        <a href="#" class='dropdown-toggle' data-toggle="dropdown"><%= current_user.name %> <%= image_tag current_user.get_avatar.avatar.url(:small_thumb), :size => "27x27" %></a>
        <ul class="dropdown-menu pull-right">
          <li>
            <%= link_to "Edit Profile", edit_user_registration_path %>
          </li>
          <li>
            <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>