<!-- User Profile Header -->
<div class="content-header content-header-media">
	<div class="header-section">
		<% user =  user.present? ? user : current_user %>
		<% unless user.avatar.blank? %>
			<%= image_tag(user.avatar.avatar(:thumb), :class =>"pull-right img-circle user-cover-image") %>
		<% end %>	
    <h1><%= user.name %>  <br><small><%= user.user_type.try(:name) %> </small></h1>
	</div>
</div>	
 <!-- END User Profile Header -->